.iframeContainer {
    padding: 20px;
    border: 1px solid #e3e3e3;
  }
  
  /* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Padding bottom by footer height */
    padding-bottom: 80px;
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    color: #2f2f2f;
    background-color: white;
  }
  #bar-container {
    justify-content: center;
  }
  svg {
    justify-content: center;
  }  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(245, 56, 56);
  }

  .bar {
    fill: #3985e3;
  }
  .bar:hover {
    fill: rgb(245, 56, 56);
  }
  
  text {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    color: #2f2f2f;
  }
  
  #footer p {
    margin: 0;
    font-size: 16px;
  }
  #map-container {
    position: relative;
    height: 500px;
    width: 900px;
  }
  #map {
    position: relative;
    height: inherit;
    width: inherit;
  }
  .row{
    margin-right:0!important;
  }

  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }