<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>High End Dining</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark" style="background-color: rgb(245, 56, 56)">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">High End Dining Locator</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link" href="https://wclewett.github.io/" style="color: rgb(255, 255, 255);">Portfolio Home</a>
              </li>
          </div>
      </div>
      </nav>
    <div class="jumbotron" style="text-align: center;">
        <h1 class="newspaperHeading">Find Your Next Favorite Restaurant</h1>
    </div>
    <div class="row">
      <div class="col-sm-6" style="text-align: right;">
        <label for="state">Choose your State:</label>
          <select id="stateDropdown" name="states">
            <option value="state_1" href="/locations/states">State 1</option>
            <option value="state_2">State 2</option>
            <option value="state_3">State 3</option>
            <option value="state_4">State 4</option>
            <option value="state_5">State 5</option>
          </select>
          <form action="search"><input type="text">search</form>
      </div>
      <div class="col-sm-6" style="text-align: left;">
        <label for="city">Choose your City:</label>
          <select id="cityDropdown" name="cities">
            <!--Append Cities here using d3-->
          </select>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <form id="myform" action="submit-form.php">
          <a href="#" id="submit">Submit</a>
          </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="container" id="map-container" style="justify-items: center;">
        <div id="map">
          <!-- map div -->
        </div>
      </div>
    </div>
    <div id="footer">
      <p>Powered by Yelp's Fusion API | Built by Team Node &copy;2020</p>
    </div>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- API key -->
    <script type="text/javascript" src="assets/js/config.js"></script>
      <!-- JS  -->
    <script type="text/javascript" src="assets/js/app.js"></script>
  </body>
</html>