<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>High End Dining</title>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark" style="background-color: rgb(245, 56, 56)">
      <div class="container-fluid">
          <a class="navbar-brand" href="https://high-end-restaurant-finder.herokuapp.com/">High End Restaurant Finder</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link" href="https://high-end-restaurant-finder.herokuapp.com/" style="color: rgb(255, 255, 255);">Home</a>
              </li>
          </div>
      </div>
      </nav>
    <div class="jumbotron" style="text-align: center;">
        <h1 class="newspaperHeading">Find Your Next Favorite Restaurant</h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="col-12" style="text-align: center;">
          <label for="state">Choose your State:</label>
          <br>
          <div class="btn-group">
            <select id="stateDropdown" class="btn btn-secondary dropdown-toggle" name="states">
              <option value="base">-------------------</option>
              <!--Append States here using d3-->            
            </select>
          </div>
        </div>  
      </div>
    </div>
    <br>
    <br>
    <div class="row" style="justify-content: center;">
      <div class="col-12" style="text-align: center;">
        <label for="city">Choose your City:</label>
        <br>
          <select id="cityDropdown" name="cities" class="btn btn-secondary dropdown-toggle">
            <option value="base">--------</option>
            <!--Append Cities here using d3-->
          </select>
      </div>
    </div>
    </div>  
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
          <button id="submit"  class="btn btn-primary" type="button">Find Restaurants</button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row" style="justify-content: center;">
      <p style="justify-content: center;">{{ data.city }}, {{data.state }}</p>
    </div>
    <div class="row">
      <div class="container-fluid" id="map-container" style="justify-items: center;">
        <div id="map">
          <!-- map div -->
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid" style="border: thin solid black; justify-content: center;">
      <div class="row" style="justify-content: left; font-size: 15px;">
        <select id="resultsDropdown" name="results">
          <option value="popularity">Most Ratings</option>
          <option value="score">Overall Score</option>
          <option value="rating">Best Rating</option>
        </select>
      </div>
      <div class="row" style="justify-content: center;">
        <h4>Top Restaurants in {{ data.city }}, {{data.state }}</h4>
      </div>
      <div class="row" style="justify-content: center;">
        <div class="container-fluid" style="justify-content: center;" id="bar-container">
          <!--SVG AREA for Interactive Bar Chart-->
        </div>
      </div>
      <div class="alert alert-secondary">
        <p class="alert-heading" style="font-size: 15px;">Notes: <br> - Popularity is based on how many reviews the business has on Yelp
          <br> - Overall Score is the product of number of reviews times average rating
          <br> - Rating scales from zero to five stars with increments of half stars
        </p>
      </div>
    </div>
    <div id="footer">
      <p>Powered by Yelp's Fusion API | Built by Team Node &copy;2020</p>
    </div>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- API key -->
    <script type="text/javascript" src="{{url_for('static', filename='js/config.js')}}"></script>
    <!-- JS  -->
    <script type="text/javascript" src="{{url_for('static', filename='js/functions.js')}}"></script>
    <!-- JS to be executed after page renders -->
    <script id="locations" type="text/javascript">
      var locations = locationPull({{ data | tojson }});
      var businesses = businessesPull({{ data | tojson }});
      stateDropdown(locations);
      d3.select("#stateDropdown").on("change", cityDropdown);
      d3.select("#submit").on("click", handleSubmit);
      var coordinates = coordinatesPull({{ data | tojson }});
      createMarkers(coordinates, businesses);
      alterGraph();
      d3.select("#resultsDropdown").on("change", alterGraph);
      d3.select("#resultsDropdown").on("change", toolTip.hide);
   </script>
  </body>
</html>